In [9]:
import pandas as pd
filepath = 'promise_KC3.csv'

df = pd.read_csv(filepath, header=None)
df

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,0,1,1,0,0,0,1,0.33,0,0.00,...,3,0.25,3,6,3,6,4,0.00,3,False
1,1,5,4,0,0,8,3,0.27,4,2.00,...,12,0.23,21,36,12,13,13,0.00,11,False
2,0,1,0,0,0,0,1,0.33,0,0.00,...,2,0.25,2,5,1,5,4,0.00,3,False
3,0,1,0,0,0,0,1,0.33,0,0.00,...,2,0.25,2,5,2,5,4,0.00,3,False
4,5,18,18,0,2,20,10,0.17,10,2.00,...,54,0.15,92,177,48,25,66,3.33,58,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
453,1,8,5,0,0,8,5,0.21,4,2.00,...,19,0.19,36,68,23,16,26,0.00,24,False
454,2,1,7,0,1,0,1,0.09,0,0.00,...,10,0.06,36,51,24,11,16,8.33,11,False
455,7,12,16,1,0,16,7,0.19,8,2.00,...,42,0.16,77,140,39,19,44,2.78,36,False
456,1,1,3,0,0,0,1,0.25,0,0.00,...,5,0.17,11,17,9,7,6,0.00,4,False
457,22,43,20,3,11,38,26,0.20,18,2.11,...,108,0.16,255,411,91,30,166,9.86,131,False

In [10]:
df.dtypes

0       int64
1       int64
2       int64
3       int64
4       int64
5       int64
6       int64
7     float64
8       int64
9     float64
10      int64
11    float64
12      int64
13      int64
14    float64
15      int64
16      int64
17      int64
18    float64
19    float64
20    float64
21    float64
22    float64
23      int64
24    float64
25    float64
26    float64
27    float64
28      int64
29      int64
30      int64
31    float64
32      int64
33      int64
34      int64
35      int64
36      int64
37    float64
38      int64
39       bool
dtype: object

In [11]:
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn import svm
from sklearn.tree import DecisionTreeClassifier

X = df.iloc[:,0:-1] #features
y = df.iloc[:,-1] #labels

# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15, random_state=None) 

# Create Decision Tree classifer object
clf = DecisionTreeClassifier(criterion="entropy",max_depth=3)
# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)
#Predict the response for test dataset
predicted = clf.predict(X_test)

#get accuracy, precision, recall
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

accuracy_score = accuracy_score(y_test,predicted)
precision_score = precision_score(y_test,predicted)
recall_score = recall_score(y_test,predicted)
print("Accuracy:",accuracy_score)
print("Precision:",precision_score)
print("Recall:",recall_score)

Accuracy: 0.927536231884058
Precision: 0.3333333333333333
Recall: 0.25